<h2>My todo list</h2>

<div>
    <label for="new-todo">Add new task:</label>
    <input type="text" id="newTask" [(ngModel)]="newTask.value" placeholder="Add new task" #newTask/>
    <button type="button" class="add-button" [disabled]="newTask.value == ''" (click)="add(newTask.value, todoes.length+1); newTask.value = ''">
        Add new task
    </button>


</div>

<ul class="todo-active-list">
    <li *ngFor="let todo of todoes; let i = index">
        <a class="task"  routerLink="/todo-editor/{{todo.id}}">
        <span class="task-number" >{{ todo.id }} </span> 
        <span [ngClass]="{'todo-complete': todo.done}">{{ todo.task }}</span> 
        </a>
    <button type="button" class="delete" title="delete task"
     (click)="delete(todo.id)">x</button>
     <input type="checkbox" class="todo-checkbox" (click)="completeItem(i)">      
     <button type="button" class="move-up" title="move up">&#8593;</button>
     <button type="button" class="move-up" title="move up">&#8595;</button>
    </li>
</ul>